*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}

h2{
    margin: 20px;
    text-align: center;
}

div#container{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 10px;
}

div#container>div{
    width: 50%;
    height: 83vh;
}

div#inputDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:sticky;
}

#inputDiv>input, #inputDiv>button{
    width: 300px;
    padding: 8px;
    border: none;
    margin-block: 5px;
}

#inputDiv>input:hover{
    border-bottom: 1.2px lightgray solid;
}

#inputDiv>input:focus{
    border-bottom: 1.2px solid black;
    outline: none;
}

#inputDiv>button:hover{
    background-color: darkblue;
    color: whitesmoke;
}

#lista-pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
}

.pokemon-card{
    height: 400px;
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 4px 6px 3px darkgray;
}

.pokemon-card:last-of-type{
    animation: animacaoCartaInserida 0.6s  ease-in; 
}


.pokemon-img{
    width: 200px;
}

.pokemon-descr{
    text-align: justify;
}

.pokemon-type-list{
    display: flex;
    text-align: center;
}

.pokemon-type-item{
    font-family: monospace;
    font-size: 17px;
    background-color: antiquewhite;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
}

.pokemon-card>a>button{
    padding: 15px 7px;
    border: none;
    border-radius: 12px;
}
.pokemon-card>a{
    width: max-content;
    height: max-content;
}
.pokemon-card>a>button:hover{
    box-shadow: 3px 5px 5px gray;
}

.pokemon-name{
    text-transform:capitalize;
}

@keyframes animacaoCartaInserida{
    0%{
        opacity: 0.2;
        transform: translateX(150px);
        transform: translateX(140px);
        transform: skewY(30px);
        
    }
    
    50%{
        opacity: 0.5;
        transform: translateY(20px);
    }
    
    100%{
        opacity: 1;
        transform: translateY(10px);
        transform: translateY(0px);
    }
}

@media screen and (max-width: 726px) {
    div#container{
        flex-flow: column nowrap;
    }

    div#container>div{
        height: 100px;
    }
    div#inputDiv{
        width: 100% !important;
    }
    #lista-pokemons{
        justify-items: center;
        width: 100% !important;
    }
}
@media screen and (max-width: 426px) {
    div#container{
        flex-flow: column nowrap;
    }

    div#container>div{
        height: 100px;
    }
    #lista-pokemons{
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100% !important;
    }
}